.cabecera{
    display: block;
    padding: 10px;
}

.color{
    background-color: #72D36F;
}

.color2{
    color: #C377BC;
}

.nuevo{
    text-decoration:none;
    color: black;
    font-size: 22px;
}

.nuevo:hover{
    text-decoration:none;
    color: black;
}

.ruta
{
text-decoration:none;
color: black;
font-size: 20px;
margin-right: 6px;
}

.ruta2
{
text-decoration:none;
margin-top: 7px;
color: black;
font-size: 15px;
margin-right: 6px;
}

.ruta:hover 
{
    text-decoration:none;
    color: #5AEC53;
}

.contenedor-ruta{
    margin-top: 80px;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CBCBCB;
}



.contenedor-carpeta{
    padding: 20px; 
}

.icono-imagen{
    font-size: 35px;
    margin-right: 20px;
    margin-left: 10px;
}

.caja-logout{
    margin-top: 10px;
    height: 30px;
}

.caja-login{
    margin-top: 10px;
    height: 30px;
}

.caja-busqueda{
    margin-top: 10px;
}

.tipo-archivo{
    margin: 10px;
    margin-top: 20px;
}

.texto-tarjeta{
    padding-top: 4px;
}


.caja-nombre-archivo:hover{
    background-color: #DDF8DC;
}

.img-caja{
    margin: 10px;
    padding-left: 60px;
}


.pdf{
    font-size: 125px;
}

.card-title{
    padding-top:10px;
}

.carpeta:hover{
    background-color: #DDF8DC;
}

.opcion{
    text-decoration:none;
    margin-bottom: 20px;
    color: black;
    font-size: 17px;
    width: 75%;
}
.opcion:hover 
{
    text-decoration:none;
    color: black;
    width: 75%;
}

.icono-opcion{
    font-size: 20px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 3px;
}

.fila-opcion{
    padding-top: 18px;
    margin-right: 30px;
}
.fila-opcion:hover{
    background-color: #DDF8DC;
    border-right: solid #DDF8DC; 
    margin-right: 30px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.registro {
    margin-top: 80px;
    padding: 10px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CBCBCB;
}

.form-structor {
    background-color: white;
    border-radius: 15px;
    height: 550px;
    width: 350px;
    position: relative;
    overflow: hidden;
}
